body {
  background-color: #121212;
}

#main-cart-icon {
  margin-top: 9px;
  margin-left: 1rem;
}
/* Styling all text in all pages */
.all-maven-text {
  font-family: 'Titillium Web', sans-serif;
}
/* Navbar color */
.navbar-color {
  background-color: #36414c;
}

/* Main-Section */
.main-section {
  height: auto;
  background-color: rgba(91, 157, 227, 0.08);
}

/* main-body-section */
.main-body-section {
  height: auto;
  background-color:  #ffffff;
}
/* main-course-section */
.main-course-section {
  height: auto;
  background-color: rgba(91, 157, 227, 0.08);
}

.main-courses-columns {
  box-shadow: 0 5px 20px 0 rgba(25, 71, 128, 0.2);
  background-color: #ffffff;
}

.course-main-section {
  margin-bottom: 10rem;
}
/* career-section */
.career-section {
  height: auto;
  background-color: whitesmoke;
}

.information-section {
  background-color: #36414c;
}

.bottom-contact-section {
  height: auto;
  background-color: whitesmoke;
}

.bottom-section {
  height: auto;
  background-color: #343a40;
}

.footer-section {
  height: 100px;
  background-color: #36414c;
}

/* Courses page main-section */
.second-container {
  margin-top: 12px;
  margin-bottom: 12px;
}
/* styling the owl carousel */
.owl-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
/* Creating the typing effect */
#wordToggle {
  border-right: solid 3px rgba(0, 255, 0, 0.75); /* This sets the cursor border and color and opacity*/
  white-space: nowrap; /* Keeps the content on a single line */
  overflow: hidden; /*Ensures the content is not revealed until the animation*/ 
  font-family: 'Titillium Web', sans-serif;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto; /* This will ensure that scrolling effect as the typing happens */
}
/* Creating the animation for the typing effect */
#wordToggle {
  animation: animated-text 3s steps(29,end) 1s 1 normal both, animated-cursor 600ms steps(29,end) infinite;
  /* This sets the cursor steps and the time of the steps*/
}
@keyframes animated-text {
  from{width: 0;}
  to{width: 380px;}
}
@keyframes animated-cursor {
  from{border-right-color: rgba(0, 255, 0, 0.75);}
  to{border-right-color: transparent;}
}

.course-carousel {
  margin-top: 3rem ;
  margin-bottom: 3rem ;
  margin-left: 1rem ;
 }
 
.social-media-icons {
  margin-top: 1rem;
  float: right;
}

#product-details {
  width: 94px;
  height: 84px;
 }

.add-to-cart {
  width: 250px;
  border-radius: 25px;
}

.add-to-enquiry-btn {
  border-radius: 25px;
  width: 200px;
}

.student-pictures {
  max-width: 100%;
  max-height: 100%; 
}

#cart-table {
  border-bottom: 1px solid #dbdbdb;
}
#cart-heading {
  margin-left: 2rem;
}
#cart-table-amounts {
  margin-left: 2rem;
  margin-top: 2rem;
}

.image {
  margin-left: 23rem;
}

#second-container {
 border-radius: 5px;
 box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2); 
}

#modal-x-button {
  border: 1px solid #4a90e2;
  border-radius: 50%;
  object-fit: contain;
  color: #4a90e2;
}

#modal-submit-button {
  border-radius: 25px;
  font-family: 'Titillium Web', sans-serif;
}

#read {
  font-family: 'Titillium Web', sans-serif;
}

#close-button {
  float: left;
}
#ele {
  line-height: 0.4;
}

@media(max-width: 500px){
  #learn {
    display: block;
  }
}

@media(max-width: 500px){
  .all-maven-text {
    text-align: center;
   }
}

@media(max-width: 500px){
  #read{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

@media(max-width: 580px){
  .student-pictures {
    order: 1;
    max-width: 100%;
    max-height: 100%;
  }
  .information-sentence {
    order: 2;
  }
}

@media(max-width: 328px){
  #img1 {
    display: none;
  }
  #img2 {
    display: none;
  }
  #img3 {
    display: none;
  }
}

@media(max-width: 328px){
  #links {
    margin-left: none;
  }
  #course {
    text-align: center;
  }
}

@media(max-width: 578px){
  #pre-work {
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
  }
  #findout {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}

@media(max-width: 500px){
  .social-media-icons {
    margin-top: 0;
    float: none;
  }
  .social-media-platforms{
    float: left;
    align-self: flex-start;
    margin: 5px 5px;
}
@media(max-width: 720px){
    #ele {
      font-size: 10px;
      float: none;
    }
}
@media(max-width: 720px){
  #webDev {
    width: 40px ;
    height: 40px ;
  }
  #webDev1 {
    width: 40px;
    height: 40px;
  }
}