#hoverCart a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}
#hoverCart a:hover {
  top: 0; /* On mouse-over, make the elements appear as they should */
}
#cart {
  top: 20px;
  background-color: #4CAF50;
}

#pic01 {
  margin-left: auto;
}
#student {
  min-height: 500px;
}
.icon {
  background-color: black;
}
.image {
  margin-left: 23rem;
}
.maven_pic {
  margin-right: 6rem;
}
#addCart {
    padding-top: 3px;
    width: 250px;
    height: 40px;
    border-radius: 22.5px;
    border: solid 2px #60a0e3;
    text-align: center;
    color: cornflowerblue;
    font-weight: bold;
    margin-left: 1rem;
    font-family: 'Titillium Web', sans-serif;
}
#box1 {
 border-radius: 5px;
 box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2); 
}
#submit {
  border-radius: 25px;
  width: 120px;
  font-family: 'Titillium Web', sans-serif;
}
#enquire {
  border-radius: 25px;
  width: 200px;
}
#text {
  font-family: 'Titillium Web', sans-serif;
}
#box2 {
  border-radius: 5px;
  box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2);
  background-color: #ffffff;
}
#box3 {
  box-shadow: 0 5px 20px 0 rgba(25, 71, 128, 0.2);
  background-color: #ffffff;
}
#read {
  font-family: 'Titillium Web', sans-serif;
}
#kay {
  max-width: 100%;
  max-height: 100%;
}
#neil {
  max-width: 100%;
  max-height: 100%;
}
@media(max-width: 500px){
  #learn {
    display: block;
  }
}
@media(max-width: 500px){
  #text {
    text-align: center;
   }
}
@media(max-width: 500px){
  #read{
    margin-left: auto;
    margin-right: auto;
  }
}
@media(max-width: 328px){
  #kay {
    order: 1;
    max-width: 100%;
    max-height: 100%;
  }
  #sen1 {
    order: 2;
  }
}
@media(max-width: 328px){
  #neil {
    order: 1;
    max-width: 100%;
    max-height: 100%;
  }
  #sen2 {
    order: 2;
  }
}
@media(max-width: 328px){
  #img1 {
    display: none;
  }
  #img2 {
    display: none;
  }
  #img3 {
    display: none;
  }
}
@media(max-width: 328px){
  #links {
    margin-left: none;
  }
  #course {
    text-align: center;
  }
}
@media(max-width: 578px){
  #pre-work {
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
  }
  #findout {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  #facebook {
    float: left;
    display: block;
  }
  #twitter {
    clear: both;
    display: block;
  }
  #instagram {
    float: left;
    display: block;
  }
  #navy {
    display: block;
  }
}
@media(max-width: 545px){
  #pic01 {
    display: flex;
    justify-content: start;
    margin-left: none;
    margin-right: auto;
  }
}




/* #wordtoggle {
  color: #fff;
  font-family: 'Titillium Web', sans-serif; */
  /* overflow: hidden; Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  /* white-space: nowrap; Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; Adjust as needed */
  /* animation:  */
    /* typing 3s steps(30, end),
    blink-caret .5s step-end, infinite;
} */

/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
} */